h1{
  text-align: center;
  font-size: 50px;
  font-family: verdana;
  color: white;
}
.download{
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
body{
  background-color: black;
  text-align: center;
  font-family: verdana;
}
video{
  display: block;
  margin: 0 auto;
}
h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3{
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
h4{
  font-family: verdana;
  font-size: 21px;
  color: gray;
  text-align: right;
}
